* {
  /* font-family: 'Lato', sans-serif; */
  /* font-family: 'Rubik', sans-serif; */
/* ''  font-family: 'Dosis', sans-serif;
  font-family: 'Marcellus', serif;'' */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Raleway', sans-serif; */
font-family: 'Kumbh Sans', sans-serif;
}

body {
  background-image: url('./assets/angulargradient.png'); 
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Dosis', sans-serif;
}


.small {
    width: 80px;
}
.medium {
    width: 110px;
}
.large {
    width: 210px;
}
.birthday {
    display: flex;
    flex-direction: row;
}
.heading {
    margin: 30px 0px 10px;
    font-size: 1.1rem;
    color: #4aa0bc;
    letter-spacing: 1.4px;
}
.iam {
    color: #4aa0bc;
    letter-spacing: 1.4px;
}

.checkbox {
    margin-right: 5px;
}

.interest {
    margin-right: 20px;
}
.interests {
    margin-left: 5px;
    margin-bottom: 15px;
}
.footer {
    /* background: rgba(0, 0, 0, 0.356); */
	color: white;
	font-size: 20px;
    padding: 20px;
    text-align: center;
}

.navbarText {
    font-size: 1.3rem;
}

.nameText {
    font-size: 1.7rem;
}

.image {
    border: 3px solid rgba(83, 120, 175, 0.616);
    border-radius: 150px 0px 150px 150px;
    margin-bottom: 20px;
}
.text {
    line-height: 2;
    font-size: 20px;
}

.logo {
    /* color: rgba(83, 120, 175, 0.616); */
    color: #eba040;
    /* font-weight: bold; */
    /* font-family: 'Niconne', cursive; */
    font-family: 'Sacramento', cursive;
    /* font-family: 'Bad Script', cursive; */
    /* font-family: 'Josefin Slab', serif; */

    /* font-family: 'Caveat', cursive; */
    /* font-family: 'Neucha', cursive; */
    /* font-family: 'Handlee', cursive; */
    /* font-family: 'Righteous', cursive; */
    /* font-family: 'Rock Salt', cursive; */
    /* font-family: 'Indie Flower', cursive; */
    /* font-family: 'Lobster', cursive; */
    /* font-family: 'Merienda', cursive; */
    /* font-family: 'Poiret One', cursive; */
    /* font-family: 'Architects Daughter', cursive; */
    /* font-family: 'Bangers', cursive; */
    /* font-family: 'Fredericka the Great', cursive; */
    /* font-family: 'Hanalei', cursive; */
    /* font-family: 'Kosugi Maru', sans-serif; */
    /* font-family: 'Questrial', sans-serif; */
    /* font-family: 'Rajdhani', sans-serif; */
    /* font-family: 'Special Elite', cursive; */
}


  .box1 {
    width: 200px;
    margin-top: 10px;
    margin-left: 20px;
    border: 4px solid rgba(83, 120, 175, 0.781);
    /* border: 4px solid #4a9fbc83; */
    padding: 10px;
    text-align: center;
    color: rgba(83, 120, 175, 0.781);
    /* color: #4aa0bc; */
    font-family: arial;
    position: relative;
    border-radius: 10px;
  }
  .sb1:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid rgba(83, 120, 175, 0.781);
    border-right: 10px solid transparent;
    border-top: 10px solid rgba(83, 120, 175, 0.781);
    border-bottom: 10px solid transparent;
    right: -20px;
    top: 6px;
  }
  .sb1:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 7px solid #fff;
    border-right: 7px solid transparent;
    border-top: 7px solid #fff;
    border-bottom: 7px solid transparent;
    right: -11px;
    top: 10px;
  }
  .box2 {
    width: 200px;
    margin-top: 10px;
    margin-left: 20px;
    border: 4px solid rgba(83, 120, 175, 0.781);
    /* border: 4px solid #4a9fbc83; */
    padding: 10px;
    text-align: center;
    color: rgba(83, 120, 175, 0.781);
    /* color: #4aa0bc; */
    font-family: arial;
    position: relative;
    border-radius: 10px;
  }
  .sb2:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-right: 10px solid rgba(83, 120, 175, 0.781);
    border-left: 10px solid transparent;
    border-bottom: 10px solid rgba(83, 120, 175, 0.781);
    border-top: 10px solid transparent;
    left: -20px;
    bottom: 6px;
  }
  .sb2:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-right: 7px solid #fff;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #fff;
    border-top: 7px solid transparent;
    left: -11px;
    bottom: 10px;
  }


.box3 {
  width: 300px;
  margin: 20px auto;
  /* background: #00bfb6; */
  background: rgba(83, 120, 175, 0.781);
  padding: 20px;
  text-align: center;
  color: #fff;
  font-family: arial;
  position:relative;
  border-radius: 20px;
}
.sb3:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid rgba(83, 120, 175, 0.616);
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid rgba(83, 120, 175, 0.616);
    right: 90px;
    top: -20px;
  }

  .about-heading {
    border-bottom: 3px solid #5e17eb;
    /* border-left: 3px solid rgba(83, 120, 175, 0.616); */
    border-radius: 150px 0px 150px 0px;
    width: 60%;
    background-color: #5e17eb31;
    padding: 5px 25px;
    letter-spacing: 1.4px;
}
  .motivation-heading {
    border-bottom: 3px solid #33cf33c7;
    /* border-left: 3px solid rgba(83, 120, 175, 0.616); */
    border-radius: 150px 0px 150px 0px;
    width: 60%;
    background-color: #33cf3334;
    padding: 5px 25px;
    letter-spacing: 1.4px;
}
  .expectation-heading {
    border-bottom: 3px solid rgba(83, 120, 175, 0.781);
    /* border-left: 3px solid rgba(83, 120, 175, 0.616); */
    border-radius: 150px 0px 150px 0px;
    width: 60%;
    background-color: rgba(83, 120, 175, 0.233);
    padding: 5px 25px;
    letter-spacing: 1.4px;
    color: rgba(83, 120, 175, 0.781);
    /* text-transform: capitalize */
}
  .other-heading {
    /* border-bottom: 3px solid rgba(83, 120, 175, 0.493); */
    border-left: 3px solid rgba(83, 120, 175, 0.616);
    border-radius: 150px 0px 150px 0px;
    width: 440px;
    background-color: rgba(83, 120, 175, 0.233);
    padding: 5px 25px;
}
.profile {
    margin-left: 20px;
    margin-right: 20px;
}

.spacing {
    line-height: 1.8rem;
    font-size: 1rem;
}

.matchlink  {
  text-decoration: none;
  color: black;
}
.matchlink:hover  {
  text-decoration: none;
  color: black;
  /* opacity: 0.9; */
  transform: scale(1.1);
}
/* .matchlink1:hover  {
  opacity: 0.5;
} */

.navbarBG {
  /* background-color:  #FFE784; */
  /* background-image: url('./assets/lightorangestarbg.png'); */
  /* background-image: url('./assets/wigglesyellow.png'); */
  /* background-size: contain; */
  /* border-bottom: 1px solid rgba(83, 120, 175, 0.233);
  box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .16); */
}

.cardcolor {
  background-color:  #ffffff00;
  /* background-image: url('./assets/wigglesyellow.png'); */
  /* background-size: contain; */
  border-bottom: 1px solid rgba(83, 120, 175, 0.233);
  /* box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .16); */
}

.strong-orange {
  color: #eba040;
}

.slate-blue {
  color: rgb(219, 233, 255);
}

.icon-large {
  font-size: 2rem;
}

.header-nav-text {
  font-size: 1.3rem;
  /* letter-spacing: 1.3px; */
}

.navActive :active {
  border: 1px border white;
  border-radius: 10px;
}

.royalpurple {
  background-color: rbg(94, 42, 231);
}

.signature {
  font-size: 3rem;
  font-family: cursive;

}
.link{
  color: black;
  padding-left: 10px;
  padding-top: 8px;
  font-size: 1.2rem;
}
.link:hover {
  text-decoration: none;
  color: rgba(22, 52, 99, 0.616);
  font-size: 1.2rem;
}
.link2{
  color: #eba040;
  padding-left: 10px;
  padding-top: 8px;
  font-size: 1.2rem;
}
.link2:hover {
  text-decoration: none;
  color: #eba14044;
  font-size: 1.2rem;
}