.small {
    width: 80px;
}
.medium {
    width: 110px;
}
.large {
    width: 210px;
}
.birthday {
    display: flex;
    flex-direction: row;
}
.heading {
    margin: 30px 0px 20px;
    font-size: 1.5rem;
}

.checkbox {
    margin-right: 5px;
}

.interest {
    margin-right: 20px;
}
.interests {
    margin-left: 5px;
    margin-bottom: 15px;
}
.footer {
    background: rgba(0, 0, 0, 0.356);
	color: white;
	font-size: 20px;
    padding: 20px;
    text-align: center;
}